@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Vazir.eot');
    src: url('fonts/Vazir.eot?#iefix') format('embedded-opentype'),
    url('fonts/Vazir.woff2') format('woff2'),
    url('fonts/Vazir.woff') format('woff'),
    url('fonts/Vazir.ttf') format('truetype');
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/Vazir-Bold.eot');
    src: url('fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Vazir-Bold.woff2') format('woff2'),
    url('fonts/Vazir-Bold.woff') format('woff'),
    url('fonts/Vazir-Bold.ttf') format('truetype');
}

* {
    font-family: 'Vazir', Arial, sans-serif;
    font-weight: normal;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: pink;
}

body::-webkit-scrollbar-thumb {
    background: #532D6B;
    border-radius: 15px;
}

.faq-container {
    max-width: 600px;
    margin: 0 auto;
}

.faq {
    background-color: transparent;
    border: solid 1px #9fa4a8;
    border-radius: 10px;
    padding: 30px;
    margin: 20px 0;
    position: relative;
    overflow: hidden;
    transition: .4s ease;
}

.faq.active {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .1);
}

.faq.active::before, .faq.active::after {
    content: "\f075";
    font-family: 'Font Awesome 5 Free';
    color: #2ecc71;
    position: absolute;
    font-size: 7rem;
    opacity: .2;
    top: 20px;
    left: 20px;
    z-index: 0;
}

.faq.active::before {
    color: #3498db;
    top: -10px;
    left: -30px;
    transform: rotatY(180deg);
}

.faq-title {
    margin: 0 35px 0 0;
}

.faq-text {
    display: none;
    margin: 30px 0 0;
}

.faq.active .faq-text {
    display: block;
}

.faq-toggle {
    border: 0;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 30px;
    top: 30px;
    height: 30px;
    width: 30px;
}

.faq-toggle .fa-times {
    display: none;
}

.faq.active .faq-toggle .fa-times {
    display: block;
    color: #fff;
}

.faq.active .faq-toggle .fa-chevron-down {
    display: none;
}

.faq.active .faq-toggle {
    background: #999;
}

.login-div {
    background-color: pink;
    border: 3px solid white;
}

.login-div2 {
    border: 3px solid pink;
}

.login-text {
    color: #532D6B;
}

.login:focus {
    box-shadow: 0 0 0 0.33rem rgb(255, 192, 203);
    border: pink;
}

.login-label {
    color: #532D6B;
}

.login-btn {
    background-color: white;
    border: #532D6B;
    box-shadow: #532D6B;
    color: #532D6B;
    transition: 0.2s;
}

.login-btn:hover {
    font-weight: bold;
    color: #532D6B;
}

.login-btn:focus {
    background-color: #532D6B;
    box-shadow: none;
    border: #532D6B;
    color: pink;
}

.sign-up-text {
    color: #dc143c;
}

.sign-up-btn {
    background-color: #dc143c;
    border: #dc143c;
    box-shadow: #dc143c;
    color: white;
    transition: 0.2s;
}

.sign-up-btn:hover {
    font-weight: bold;
    color: white;
}

.sign-in-div-text {
    color: #532D6B;
}

.sign-in-btn {
    background-color: #532D6B;
    border: white;
    color: white;
    transition: 0.2s;
}

.sign-in-btn:hover {
    font-weight: bold;
    color: white;
}

.sign-in-div {
    background-color: white;
    border: 3px solid #532D6B;
}

.sign-in-text {
    color: rgb(255, 255, 255);
}

.signin {
    border: #dc143c;
}

.signin:focus {
    box-shadow: 0 0 0 0.33rem rgb(255, 255, 255);
    border: rgb(255, 255, 255);
}

.div-sign-in {
    background-color: white;
    border: 3px solid #dc143c;
}

.signin-div {
    background-color: #dc143c;
    border: 3px solid white;
}

.signin-text {
    color: white;
}

.signin-btn {
    background-color: white;
    border: white;
    box-shadow: white;
    color: #dc143c;
    transition: 0.2s;
}

.signin-btn:hover {
    font-weight: bold;
    color: #dc143c;
}

.signin-btn:focus {
    background-color: white;
    box-shadow: none;
    border: #dc143c;
    color: #dc143c;
}

.signin-check:checked {
    background-color: #532D6B;
}

#Div1 {
    display: flex;
    flex-direction: column;
}

#Div2 {
    display: flex;
    flex-direction: column;
}

.basket-div {
    position: absolute;
    height: 400px;
    width: auto;
    z-index: 9999;
    display: none;
    border: 3px solid #532D6B;
    border-radius: 6px;
}

.basket-div::-webkit-scrollbar {
    width: 10px;
}

.basket-div::-webkit-scrollbar-track {
    background: pink;
}

.basket-div::-webkit-scrollbar-thumb {
    background: #dc143c;
    border-radius: 15px;
}

.basket-div:hover {
    display: block;
}

.basket:hover + .basket-div {
    display: block;
}

.basket-title {
    text-decoration: none;
    color: black;
}

.basket-title:hover {
    color: #dc143c;
}

.basket-btn {
    color: #dc143c;
}

.basket-top {
    background-color: #532D6B;
    border: white;
    border-radius: 0;
    box-shadow: white;
    color: white;
    transition: 0.2s;
}

.basket-top:hover {
    font-weight: bold;
    color: white;
}

.basket-top:focus {
    background-color: white;
    box-shadow: none;
    border: #532D6B;
    color: #532D6B;
}

.input-search {
    background: none;
    border-style: none;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    right: 30px;
    top: 5px;
    color: #532D6B;
    display: none;
    width: 400px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 0.3vw solid #532D6B;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:hover {
    display: inline-block;
}

.input-search::placeholder :focus {
    color: #532D6B;
    font-size: 0.5vw;
}

.input-search:focus {
    width: 400px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 0.3vw solid #532D6B;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.nav-search:hover + .input-search {
    display: inline-block;
}

.input-search:hover + .nav-search {
    visibility: hidden;
}

.nav-iteam {
    list-style-type: none;
}

.nav-i {
    color: #532D6B;
    font-size: 2.7vw;
    transition: 500ms;
}

.nav-i:hover {
    color: crimson;
}

.brand-name {
    font-size: 4vw;
    color: #532D6B;
}

.brand-title {
    font-size: 1.8vw;
    color: #532D6B;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(83, 45, 107, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:focus {
    color: white;
}

.navbar-toggler {
    border: none;
}

.nav-m {
    text-decoration: none;
    color: #532D6B;
    font-size: 1.9vw;
}

.nav-m:hover {
    border-bottom: 1.8px solid #dc143c;
    color: #dc143c;
}

.intro {
    font-size: 3vw;
    color: #532D6B;
}

.intro-but {
    font-size: 3vw;
    transition: 500ms;
}

.intro-but:hover {
    background-color: #532D6B;
}

.menu-tit {
    color: #532D6B;
    font-family: sahelb;
}

.menu-item {
    color: #535353;
    text-decoration: none;
}

.menu-item:hover {
    color: #532D6B;
    font-weight: bold;
    background-color: rgb(255, 235, 239);

}

.menu-div {
    width: 100px;
}

.adu-a {
    width: 33.33%;
    text-decoration: none;
    color: #532D6B;
}

.adu-div-man {
    height: 600px;
    background-image: url(Images/e7ecbb03c81f8b938a66fe3d07a8c298.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.adu-a-woman {
    height: 600px;
    background-image: url(Images/pexels-valeria-boltneva-1961786.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.spty-a {
    height: 600px;
    background-image: url(Images/spray-07.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.adu-a:hover {
    filter: brightness(70%);
    color: #532D6B;
}

.product-item:hover {
    box-shadow: pink 0px 30px 90px;
}

.product-titr {
    color: #532D6B;
}

.product-type {
    color: black;
}

.product-brand {
    color: black;
}

.product-v {
    color: crimson;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
}

.product-img:hover .overlay {
    opacity: 1;
}

.product-bt {
    background-color: #532D6B;
    height: 40px;
}

.product-img {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.product-div {
    cursor: pointer;
    position: relative;
}

.products-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.product-newprice {
    color: #532D6B;
    font-weight: bold;
}

.product-oldprice {
    opacity: 50%;
}

.product-item-off {
    border: 2px solid pink;
}

.product-item-off:hover {
    box-shadow: none;
}

.makeup-but {
    font-size: 2.7vw;
    transition: 500ms;
}

.makeup-but:hover {
    background-color: pink;
    color: #dc143c;
}

.arayesh-link {
    text-decoration: none;
    color: white;
}

.arayesh-link:hover {
    color: pink;
}

.btns {
    position: absolute;
    left: 0;
    bottom: -100%;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}

.btns button {
    border: none;
    background-color: rgb(39, 39, 20);
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.btns button:hover {
    background-color: #dc143c;
}

.product-item:hover .btns {
    bottom: 0;
}

.bg-fix {
    width: 100%;
    height: 70vh;
    background-image: url(Images/different-cosmetics-types-scattered-pink-table1.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.spec-title {
    color: #532D6B;
}

.spec-discription {
    color: #dc143c;
}

.jamb-bg-fix {
    width: 100%;
    height: 20vh;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jamb-text {
    font-size: 2vw;
}

.footer-head1 {
    font-size: 2vw;
    color: pink;
}

.footer-head {
    font-size: 1.7vw;
    color: pink;
}

.footer-contact {
    font-size: 1.1vw;
    color: white;
}

.footer-contact:hover {
    color: pink;
}

.footer-input {
    border: none;
    color: pink;
    box-shadow: none;
}

.footer-input::placeholder {
    font-size: 1.7vw;
    color: #dc143c;
    box-shadow: pink;
}

.footer-btn:checked {
    background-color: #dc143c;
    border: none;
}

.footer-btn:focus {
    box-shadow: none;
}

.footer-sign {
    background-color: #dc143c;
    border: #dc143c;
    box-shadow: #dc143c;
}

.footer-sign:hover {
    background-color: white;
    color: #dc143c;
}

.footer-sign:focus {
    background-color: #dc143c;
    box-shadow: none;
    border: #dc143c;
}

/* products card */
.bg-fix-product {
    width: 100%;
    height: 40vh;
    background-image: url(Images/pexels-shiny-diamond-3373728.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    border: 2px solid rgb(255, 210, 217);
}

.list-group-flush::-webkit-scrollbar {
    width: 10px;
}

.list-group-flush::-webkit-scrollbar-track {
    background: pink;
}

.list-group-flush::-webkit-scrollbar-thumb {
    background: #dc143c;
    border-radius: 15px;
}

.list-group-itemp {
    color: #532D6B;
    border: 1px solid rgb(255, 210, 217);
}

.list-group-itemp:hover {
    background-color: rgb(255, 244, 246);
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #532D6B;
    border-color: #532D6B;
}

.card-header, .card-footer {
    background-color: rgb(253, 231, 235);
    border: none;
    border-bottom: 2px solid rgb(255, 219, 225);
}

.input-group-text {
    background-color: rgb(255, 226, 231);
}

.form-control:focus {
    box-shadow: none;
    border: 2px solid #dc143c;
}

.productp-text {
    color: #532D6B;
}

/* product */
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    align-content: start;
    max-width: 700px;
    margin: 0 auto;
    transition: all 150ms linear;
    /* border: 3px solid #532D6B; */
    border-radius: 10px;
}

.gallery input[type="radio"] {
    display: none;
}

.gallery label {
    position: relative;
    display: block;
    padding-bottom: 60%;
    margin: 5px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.gallery label:before {
    border: 1px solid pink;
    border-radius: 5px;
    content: '';
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: -5px;
    top: -5px;
}

.gallery img {
    display: none;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    transition: all 150ms linear;
}

.gallery input[name="select"]:checked + label + img {
    display: block;
}

.gallery input[name="select"]:checked + label:before {
    border: 1px solid #532D6B;
}

#timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.number-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.number-list .item {
    width: 50px;
    height: 50px;
    background: #532D6B;
    margin-right: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
}

.unit-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.unit-list .item {
    width: auto;
    margin-right: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #532D6B;
    font-weight: 500;
    font-family: sans-serif;
}

.timer-end {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #532D6B;
    font-weight: 700;
    font-family: sans-serif;
}

.skin-1 .num-in {
    width: 94px;
}

.skin-1 .num-in span {
    display: block;
    float: left;
    width: 30px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.skin-1 .num-in span.dis:before {
    background-color: #ccc !important;
}

.skin-1 .num-in input {
    float: left;
    width: 32px;
    height: 32px;
    border: 1px solid #6E6F7A;
    border-radius: 5px;
    text-align: center;
    padding: 0;
}

.skin-1 .num-in span.minus:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #00A94F;
    top: 50%;
    left: 0;
}

.skin-1 .num-in span.plus:before, .skin-1 .num-in span.plus:after {
    content: '';
    position: absolute;
    right: 0px;
    width: 15px;
    height: 2px;
    background-color: #532D6B;
    top: 50%;
}

.skin-1 .num-in span.plus:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.product-colors {
    border: solid 2px rgb(255, 218, 224);
    border-radius: 20px;
}

.product-tabs {
    text-decoration: none;
    border-bottom: 2px solid pink;
    cursor: pointer;
    color: #532D6B;
    font-size: 1.7vw;
}

.active, .product-tabs:hover {
    /*border-bottom: 3px solid #dc143c;*/
    color: #dc143c;
}

.top-section {
    border: 2px solid rgb(255, 218, 224);
    border-radius: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.bot-section {
    border: 2px solid rgb(255, 218, 224);
    border-radius: 20px;
    padding: 30px;
}

.p-table {
    background-color: #fff0f2;
}

.p-table:hover {
    background-color: rgb(255, 218, 224);
}

/* nazarat */
#clicked {
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    width: 100%;
    background-color: #ecb21f;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px
}

#profile {
    background-color: unset
}

#post {
    margin: 10px;
    padding: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #dc143c;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px;
    width: 50%
}

#nav-items li a,
#profile {
    text-decoration: none;
    color: rgb(224, 219, 219);
    background-color: black
}

.comments {
    margin-top: 5%;
    margin-left: 20px
}


.comment {
    border: 1px solid white;
    background-color: #532D6B;
    float: left;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px
}

.comment h4,
.comment span,
.darker h4,
.darker span {
    display: inline
}

.comment span {
    color: pink;
}

.comment p {
    color: white;
}

h1,
h4 {
    color: white;
    font-weight: bold
}


label {
    color: #532D6B
}

#align-form {
    margin-top: 20px
}


#checkbx {
    background-color: black
}

#darker img {
    margin-right: 15px;
    position: static
}


#algin-form {
    border: 2px solid rgb(255, 218, 224);
    background-color: #fff0f2;
    border-radius: 5px;
}

.sign-page {
    border: 2px solid rgb(255, 218, 224);
    border-radius: 5px;
    padding: 20px
}

/* 404 */
.body404 {
    background: #fff0f2;;
    color: #fff;
    padding: 3rem;
    min-height: 100vh;
}

.p404 {
    font-size: 2.5rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.center404 {
    align-items: center;
    justify-content: center;
}

.start-center {
    align-content: space-between;
    justify-content: flex-start;
}

.container404 {
    background: linear-gradient(45deg, #dc143c, #532D6B);
    border-radius: 15px;
    min-height: 600px;
    width: 100%;
    max-width: 700px;
    padding: 4rem;
    text-align: center;
}

.container404 header {
    margin-bottom: 2rem;
}

.container404 > * {
    padding: 2rem;
    width: 100%;
}

/* account */
.bg-fix-account {
    width: 100%;
    height: 50vh;
    background-image: url(Images/makeup-brush-with-neon-pink-powder-splash.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navacc-section {
    border: 2px solid rgb(255, 218, 224);
    border-radius: 20px;
    padding: 2vw;
}

.commentacc {
    border: 1px solid white;
    background-color: #532D6B;
    float: left;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px
}

.acc-text {
    font-size: 1.2em;
}

/* copun */
#labelscards {
    padding: 5% 0
}

.alizarin {
    background: #dc143c
}

.midnight-blue {
    background: #532D6B
}

.dl {
    background: #fff0f2;
    padding: 30px 0;
    border-radius: 20px;
    position: relative
}

.dl:before {
    content: " ";
    height: 20px;
    width: 20px;
    background: #ddd;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 20px;
    margin-left: -10px
}

.dl .brand {
    text-transform: uppercase;
    padding: 10px 15px;
    margin-top: 10px;
    text-align: center
}

.dl .discount {
    min-height: 50px;
    position: relative;
    font-size: 3vw;
    line-height: 80px;
    text-align: center;
    font-weight: 700;
    padding: 20px 15px 0;
    color: pink
}

.dl .discount:after {
    content: " ";
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: -20px;
    left: 20%
}

.dl .discount.alizarin:after {
    border-top: 20px solid #dc143c
}

.dl .discount .type {
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: -30px
}

.dl .descr {
    color: black;
    margin-top: 10px;
    padding: 20px 15px
}

.dl .ends {
    padding: 0 15px;
    color: #dc143c;
    margin-bottom: 10px
}

.dl .coupon {
    min-height: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    padding: 20px 15px
}

.dl .coupon .code {
    letter-spacing: 1px;
    margin-top: 10px;
    padding: 10px 15px;
    color: pink;
    border-bottom: 2px pink solid;
}

/* information */
.acc-table {
    background-color: rgb(255, 218, 224);
    opacity: 1;
}

.acc-div::-webkit-scrollbar {
    width: 10px;
}

.acc-div::-webkit-scrollbar-track {
    background: pink;
}

.acc-div::-webkit-scrollbar-thumb {
    background: #dc143c;
    border-radius: 15px;
}

/* contactus */
.bg-contactus {
    background-color: #532D6B;
    color: pink;
}

.contactus-text {
    color: #532d6b;
}

.gradient-background {
    height: 600px;
    background: linear-gradient(62deg, #532d6b, #7b266f, #a21668, #c40056, #dc143c);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .spec-title {
        font-size: 20px;
    }

    .spec-discription {
        font-size: 10px;
    }

    .body404 {
        padding: 1rem;
    }

    .container404 {
        min-height: auto;
        padding: 2rem;
    }

    .container404 > * {
        padding: 1.5rem;
    }

    .btn404 {
        font-size: 1rem;
        width: 100%;
    }

    .head404 {
        font-size: 3rem;
    }

    .p404 {
        font-size: 1.5rem;
    }
}

/*login-page*/
.log-body {
    background: #8d4cb6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #532D6B, #b664ea); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #532D6B, #b664ea); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.veen {
    width: 80%;
    max-width: 500px;
    margin: 100px auto;
    background: rgba(245, 245, 245, 0.5);
    min-height: 400px;
    display: table;
    position: relative;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    border-radius: 5px;
}

.veen > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

.submit {


}

#registerbtn, #loginbtn {
    background: #dc143c;
    width: 120%;
    border-radius: 30px;
    border: 2px solid #dc143c;
    padding-bottom: 10px;
    padding-top: 5px;
    position: absolute;
    bottom: -2%;
    left: -10%;
    color: #FFF;
    transition: .5s;
}

#registerbtn {
    background: #532D6B;
    border: 2px solid #532D6B;
}

#loginbtn:hover {
    bottom: 0;
}

#registerbtn:hover {
    background: #dc143c;
    border: 2px solid #dc143c;
}


.login {
    background: #8d4cb6;
    padding: 10px 30px;
    border: 3px solid #fff;
    border-radius: 50px;
    background-clip: padding-box;
    position: relative;
    color: #FFF;
    transition: .5s;
}

.register {
    background: #dc143c;
    padding: 10px 30px;
    border: 3px solid #fff;
    border-radius: 50px;
    background-clip: padding-box;
    position: relative;
    color: #FFF;
    transition: .5s;
}

.register:hover {
    background: rgb(255, 136, 156);
}

.login:hover {
    background: #532D6B;
}

.veen .splits p {
    font-size: 18px;
}

.veen button:active {
    box-shadow: none;
}

.veen button:focus {
    outline: none;
}

#login {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -10%;
    left: 5%;
    background: #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    transition: all .5s;
    color: #303030;
    overflow: hidden;
    border-radius: 5px;
}

.forgot {
    text-decoration: none;
    color: #999999;
    top: 100%;
}

.forgot:hover {
    text-decoration: none;
    color: #636363;
}

.forgot:active {
    text-decoration: none;
    color: #636363;
}

.forgot:focus {
    text-decoration: none;
    color: #636363;
}

#register {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -10%;
    left: 5%;
    background: #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    transition: all .5s;
    color: #303030;
    overflow: hidden;
    border-radius: 5px;
    z-index: -1;
}


.wrapper > div {
    padding: 15px 30px 30px;
    width: 100%;
    transition: all .5s;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
}

.wrapper #login {
    padding-top: 10%;
}

.wrapper.move #register {
    z-index: 2;
    top: 0%;
    left: 0%;
}

.wrapper.move #login {
    z-index: 2;
    top: 0%;
    left: 0%;
    visibility: hidden;
}


.wrapper > div > div {
    position: relative;
    margin-bottom: 15px;
}

.wrapper .label-login {
    position: absolute;
    top: -7px;
    font-size: 12px;
    white-space: nowrap;
    background: #fff;
    text-align: left;
    left: 15px;
    padding: 0 5px;
    color: #8d4cb6;
    pointer-events: none;
}

.wrapper .label-sign {
    position: absolute;
    top: -7px;
    font-size: 12px;
    white-space: nowrap;
    background: #fff;
    text-align: left;
    left: 15px;
    padding: 0 5px;
    color: #dc143c;
    pointer-events: none;
}

.wrapper h3 {
    margin-bottom: 25px;
    font-weight: 500;
}

.wrapper input {
    height: 40px;
    padding: 5px 15px;
    width: 100%;
    border: solid 1px #999;
}

.veen .wrapper input:focus {
    outline: none;
    border-color: #8d4cb6;
}

.veen > .wrapper.move input:focus {
    border-color: #dc143c;
}

.log-button:hover {
    cursor: pointer;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .navbar .has-megamenu {
        position: static !important;
    }

    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 7px;
    }

    .navbar .dropdown .dropdown-menu {
        display: none;
    }

    .navbar .dropdown:hover .dropdown-menu {
        display: block;
    }

    .navbar .dropdown .dropdown-menu {
        margin-top: 7px;
    }

    .nav-i {
        font-size: 1.7vw;
    }

    .nav-m {
        font-size: 1.7vw;
    }

    .brand-title {
        font-size: 1.3vw;
    }

    .makeup-but {
        font-size: 1.5vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}